name: Deploy GenesisAI to Mac Mini
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Create .env file
        run: |
          echo "${{ vars.ENV_FILE }}" > .env
          echo "--- VERIFICARE FISIER ---"
          pwd & ls -la .env
          echo "--- AFISARE partiala (fara secrete) ---"
          head -n 2 .env # Afiseaza primele 2 linii sa vedem daca are continut
      - name: Build and Restart Docker
        run: |
          docker compose -f docker-compose.prod.yml up -d --build